.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
}

.notification {
  margin-top: 20px !important;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}

.hero-body {
  background: linear-gradient(to bottom, #e50914, #b9090b);
}

.article-background {
  background: linear-gradient(to bottom, #e50914, #a89b9c);
  color: #68a9e3; /* Light blue */
}

.left-autocomplete, .right-autocomplete {
  background: linear-gradient(to bottom, #e50914, #a89b9c);
  color: #68a9e3; /* Light blue */
}

.tutorial {
  background: linear-gradient(to bottom, #b9090b, #8a0f0f);
}